@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,100&family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(146, 146, 202);
}
.App {
  text-align: center;
  width: 100vh;
  background-color: rgb(8, 8, 93);
  /* padding: 1%; */
  height: 100vh;
  overflow-y: auto;
  border-radius: 20px;
}
.main_phrase {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.tasks-style {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: left;
  background-color: rgb(109, 18, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  padding: 0 10px;
  height: 55px;
  width: 80%;
  border-radius: 10px;
}
.task-style {
  padding: 10px;
}
.inputStyle-block {
  padding: 0 0 20px 0;
}
.inputStyle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 50%;
  color: white;
  background-color: rgb(8, 8, 93);
  border-radius: 5px solid rgb(109, 18, 189);
  padding: 6px;
  margin-right: 10px;
}
.inputStyle::placeholder {
  color: white;
  opacity: 0.3;
}
.btn {
  margin-left: 5px;
  background-color: rgb(109, 18, 189);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: auto;
  color: white;
}
.btn-tasks {
  margin: 5px;
  font-size: 20px;
}
.crose {
  cursor: pointer;
}

.croseNo {
  cursor: pointer;
  text-decoration: line-through;
}
